<h2>Hello <%= current_user(session).name %>!</h2>

<br>

<div class="note-input">
  <form action="/notes" method="post">
    <div class="form-group">
      <textarea name="content" class="form-control" placeholder="What have you learned today?" autofocus></textarea>
    </div>

    <div class="form-group">
       Tags (optional)<input type="text" name="tags" placeholder="first-tag another-tag" class="form-control"><br></br>
      <input type="radio" name="public" value="0" <%= "checked" %>> Private<br>
      <input type="radio" name="public" value="1"> Public<br>
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </form>
</div>