<h2>Hello <%= current_user(session).name %>!</h2>
<h5>It's <%= @date %></h5>

<br>

<div class="note-input">
  <form action="/notes" method="post">
    <div class="form-group">
      <textarea name="content" class="form-control" placeholder="Make a note about today" autofocus></textarea>
    </div>
    <div class="form-group">
      <input type="text" name="tags" placeholder="Tags separated with commas (optional)" class="form-control"><br>
      <input type="radio" name="public" value="0" <%= "checked" %>> Private<br>
      <input type="radio" name="public" value="1"> Public<br></br>
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </form>
</div>

<a href="/index" class="small-right-link">Skip for now</a>