<h2>All my notes</h2>

<br>

<div class="note-list">
  <ul class="list-group">
  <% @notes.reverse.each do |note| %>
    <li class="list-group-item">  <%= note.created_at.localtime.strftime("%A, %B %d, %Y") %>:   <a href="/notes/<%= note.id %>"><%= note.content %></a>
  <% end %>
  </ul>
</div>

<br>

<a href="/index">Back to main page</a>
