<h2>Thing You Learned</h2>

<br>

<%= @nugget.content %>

<br></br>

<%= @nugget.public == 0 ? 'Private' : 'Public' %>

<br>

<a class="btn btn-dark" href="/nuggets/<%= @nugget.id %>/edit" role="button"> Edit </a>

<form action="/nuggets/<%= @nugget.id %>" method="POST" onsubmit="confirm('Are you sure you want to delete the thing you learned?')">
  <input type="hidden" name="_method" value="DELETE">
  <input class="btn btn-danger" type="submit" value="Delete">
</form>
