<h2>Edit Profile</h2>

<br>

  <form action="/edit" method="post">

    <input type="hidden" id="hidden" name="_method" value="patch">
      
      <div class="form-group">
        <label for="signup-name">Name:</label><br>
        <input type="text" id="signup_name" name="name" value="<%= @user.name %>" class="form-control">
      </div>

      <div class="form-group">
        <label for="signup_username">Username:</label>
        <input type="username" id="signup_username" name="username" value="<%= @user.username %>" class="form-control">
      </div>

      <div class="form-group">
      
        <label for="signup_password">New Password:</label>
        <input type="password" id="signup_password" name="password" class="form-control">
      </div>

      <div class="form-group">
        <label for="signup_password_check">Verify New Password:</label>
        <input type="password" id="signup_password-check" name="password_confirmation" class="form-control">
      </div>

      <input type="submit" class="btn btn-primary" value="Submit Edit">
    </div>
  </form>
