<h2>All my tags</h2>

<div class="tag-list">
  <ul>
  <% @tags.reverse.each do |tag| %>
    <li><a href="/tags/<%= tag.slug %>"><%= tag.word %></a>
  <% end %>
  </ul>

<br>

</div><a href="/index">Back to main page</a>