<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Sinatra Template Default Page</h2>

    <div class="content">
      <p>Welcome to One Day Wiser!</p>
    </div>

    <div class="sidebar">
    </div>

  </div>
</div>
